#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 100vh;
width: 20rem;
margin-left: -15rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

.list-group-item{
  width: 100%;
  color: #fff;
  padding: 3rem 2rem;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}

#stats{
  height:  20rem;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
}

.card-header{
  font-size: 6rem;
  color: var(--grey-dark);
}

.card-sub{
  color:transparent;
  font-size: 2rem;

}